@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: #ffffff;
  --background-color: #000000;
}


body {
  color: var(--foreground-rgb);
  background: var(--background-color);
}

.ant-collapse-content-box {
  padding: 0 !important;
}

.ant-collapse-header {
  padding: 0 !important;
}




@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
